<div class="hero-back bg-white rounded-lg shadow-lg overflow-hidden max-w-4xl w-full mx-auto mt-8 ">
    <div
        class="relative bg-gradient-to-br  text-white p-8 md:p-16 flex flex-col md:flex-row items-center justify-center text-center md:text-left">

        <div class="relative z-10 flex flex-col items-center md:items-start">
            <h1 class="text-4xl md:text-5xl font-bold mb-4 leading-tight">
                PDF
                <br>
                All-in-one PDF solution
            </h1>
            <p class="text-lg md:text-xl mb-8 max-w-2xl">
                Convert, merge, split, compress, and edit PDFs with ease. Our intuitive tools make managing your
                documents a breeze.
            </p>
            <a href="#"
                class="btn btn-success h-12 hover:bg-green-500 text-white font-semibold py-3 px-8 rounded-lg text-lg transition duration-300 ease-in-out">
                Get Started
            </a>
        </div>
    </div>
</div>