<div class="flex items-center justify-center" data-controller="pdf-upload">
  <div data-pdf-upload-target="uploadContainer">
  <%=render 'upload'%>
  </div>
  <div style="display: none;" data-pdf-upload-target="pdfmergeContainer">
    <%=render 'pdfmerge'%>
  </div>
</div>

