.hero-back {
     background-color: #e1eebc;
    /* background-image: url(/hero2.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    z-index: 1;

    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
    height: 500px;
    margin: 2rem auto;
}

